
===============================================================
Welcome to your box

Hostname: {{ ansible_nodename }}
OS:       {{ ansible_distribution }}
Version:  {{ ansible_distribution_version }}
===============================================================
